version: "3.9"

services:

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: trade_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"


volumes:
  postgres_data: